*{background-image: url('bg1.jpeg');}

h1 {color:rgb(24, 23, 20);
     font-size:900;
     text-align: center;}


h2 {color:rgb(16, 87, 19);
    /* text-align: center; */
   }

h3 {color:rgb(14, 54, 12);
        font-size:600;
        text-align: center;}

p { 
    text-align: center;
        color: rgb(121, 42, 81);
    
    
 } 

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.txtsize{font-size:30px;}


#navbar{background-color: rgb(50, 86, 184);
font-size:40px;
/* display:flex; */
/* justify-content: space-evenly; */
}